
<!--<div  style="width: 240px;">-->
  <!--<button nz-button [nzType]="'primary'"-->
          <!--(click)="toggleCollapsed()"-->
          <!--style="margin-bottom: 10px;">-->
    <!--<i class="anticon"-->
       <!--[class.anticon-menu-unfold]="isCollapsed"-->
       <!--[class.anticon-menu-fold]="!isCollapsed">-->
    <!--</i>-->
  <!--</button>-->
  <!--<ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">-->
    <!--<li nz-menu-item routerLink="/dashboard">-->
          <!--<span title>-->
            <!--<i class="anticon anticon-mail"></i>-->
            <!--<span>Dashboard</span>-->
          <!--</span>-->
    <!--</li>-->
    <!--<li nz-menu-item routerLink="/Heroes">-->
          <!--<span title>-->
            <!--<i class="anticon anticon-mail"></i>-->
            <!--<span>Heroes</span>-->
          <!--</span>-->
    <!--</li>-->
    <!--<li nz-submenu>-->
          <!--<span title>-->
            <!--<i class="anticon anticon-appstore"></i>-->
            <!--<span>Heroes</span>-->
          <!--</span>-->
      <!--<ul>-->
        <!--<li nz-menu-item *ngFor="let hero of heroes">{{hero.name}}</li>-->
        <!--<li nz-menu-item>Option 6</li>-->

        <!--<li nz-submenu>-->
          <!--<span title>Submenu</span>-->
          <!--<ul>-->
            <!--<li nz-menu-item>Option 7</li>-->
            <!--<li nz-menu-item>Option 8</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li nz-submenu>-->
          <!--<span title>-->
            <!--<i class="anticon anticon-setting"></i>-->
            <!--<span>Navigation Three</span>-->
          <!--</span>-->
      <!--<ul>-->
        <!--<li nz-menu-item>Option 9</li>-->
        <!--<li nz-menu-item>Option 10</li>-->
        <!--<li nz-menu-item>Option 11</li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->
<!--<router-outlet style="margin-left: 240px;"></router-outlet>-->
<!--<app-messages></app-messages>-->
<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">User</span></span>
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        Bill is a cat.
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
